* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #000;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid #222;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: #eee;
  font-size: 1rem;
  position: relative;
  padding: 4px 0;
  transition: 0.3s;
}

.links a:hover {
  color: #fff;
  opacity: 0.9;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #c59d5f;
  transition: 0.3;
}

.links a:hover::after {
  width: 100%;
}

.links a.active {
  color: #fff;
}

.links a.active::after {
  width: 100%;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: white;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 70px;
    right: 0;

    background: #000;
    width: 200px;
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;

    display: none;
  }

  .links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
